.home-container {
	background-color: var(--back-primary);
	color: var(--head-secondary);
	min-height: 92.5vh;
	font-family: "Poppins", sans-serif;
}
.home-main {
	min-height: 92.5vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1.25fr 1fr;
}
.discover-container {
	background-color: var(--back-primary);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 15% 85%;
}
.discover-head {
	font-size: 4rem;
	font-weight: 500;
	padding: 0.5rem 2rem;
	color: var(--head-primary);
}
.discover-main {
	display: grid;
	grid-template-columns: 2fr 1.5fr;
	grid-template-rows: auto;
}
.discover-photo {
	margin: 0rem 1rem 1.5rem 1rem;
	background: linear-gradient(#00000030, transparent), url("./assets/blue.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 2.75rem;
	font-weight: 500;
	letter-spacing: 0.025rem;
	color: var(--head-primary);
}
.discover-edit {
	margin: 0rem 1rem 2rem 1rem;
	background: linear-gradient(#00000030, transparent),
		url("./assets/orange.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 2.75rem;
	font-weight: 500;
	color: var(--head-primary);
}
.discover-main p {
	margin: 5rem 2rem;
}
.discover-main a {
	text-decoration: none;
	margin: 2rem;
}
.discover-button {
	display: block;
	padding: 1rem 1.5rem;
	background-color: transparent;
	color: var(--head-primary);
	border: 0.1rem solid var(--head-primary);
	border-radius: 1.25rem;
	font-size: 1.75rem;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
	cursor: pointer;
}

.popular-container {
	background-color: var(--back-primary);
}
.popular-main {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	grid-gap: 2.5vh 0rem;
	flex-grow: 10;
}
.popular-head {
	font-size: 3rem;
	font-weight: 500;
	padding: 0rem 2rem 1.5rem 2rem;
	color: var(--head-primary);
}

@media screen and (max-width: 940px) {
	.discover-main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1.25fr;
	}
	.discover-container {
		grid-template-rows: 10% 90%;
	}
}

@media screen and (max-width: 540px) {
	.discover-main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1.25fr;
	}
	.discover-main p {
		margin: 3.5rem 1rem;
	}
	.discover-photo {
		background: linear-gradient(#00000050, transparent),
			url("./assets/blue.jpg");
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
