.playlists-container {
	background-color: var(--back-primary);
	font-family: "Poppins", sans-serif;
	display: flex;
	justify-content: center;
}

.playlists-main {
	padding: 1rem;
	width: 90%;
	min-height: 92.5vh;
	margin: 0rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: var(--back-primary);
}

.playlists-head {
	display: flex;
	/* padding: 1rem; */
	min-height: 10vh;
	align-items: center;
}
.playlists-head > h1 {
	font-size: 3rem;
	color: var(--head-primary);
	letter-spacing: 0.1rem;
}

.playlists-list {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.playlist-box {
	padding: 2rem;
	margin: 1rem 2rem;
	background-color: var(--back-card);
	color: var(--head-secondary);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	text-decoration: none;
	font-size: 2rem;
	text-align: center;
}

@media screen and (max-width: 1600px) {
	.playlists-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}
@media screen and (max-width: 1340px) {
	.playlists-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 1024px) {
	.playlists-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 540px) {
	.playlists-list {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}
